# Swift Package Manager
.build/
.swiftpm/

# Xcode
xcuserdata/
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Swift Package Manager artifacts
Package.resolved
